*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body , html {
    overflow-x: hidden;
}
a{
    text-decoration: none;

}
.logo{
    color: #fc036b;
    text-decoration: underline;
}
ul{
    list-style: none;
    color: whitesmoke;
}
ul li a{
    color: whitesmoke;
}
.active{
    justify-content: center;
    text-align: center;
    padding: 8px 15px;
    border-radius: 30px;
    background-color: #fc036b;
    color: black;
    font-weight: bold;
}
/* Navbar */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links {

    display: flex;
    align-items: center;
}
.nav-links li {

    margin: 0 30px;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(./mountain.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 120px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 5vmin;   
}
.line{
    
    width: 350px;
    height: 4px;
    background: #fc036b;
    margin:  20px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 10px;
    background: #fc036b;
    border-radius: 30px;
    color: black;
    font-weight: bolder;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* Events*/
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row{
    margin-top: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.row .col img{
    width: 90%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
h4{
    font-size: 4vmin;
    color: #49497e;
    margin: 20px auto;
}
p{
    font-size: 3vmin;
    margin: 10px 20px;
}

/* Mobile device*/
@media only screen and (max-width:850px) {
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #04233f;
        margin-top: -980px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 100% ;
        border-bottom-left-radius: 100% ;
    }
    .nav-links li{
        margin: 30px auto;
    }
}
.lost img{
    position: absolute;
    padding-top: 100px;
    width: 60vw;
    height: 80vh;
}
.page{
    position: absolute;
    top: 50%;
    left: 45%;
}